---
import type {ImageMetadata} from "astro";
import ImageLink from "@components/ui/links/ImageLink.astro";
import { Image } from 'astro:assets';

import youtubeImage from "@images/other_brands/yt_icon_mono_dark.png";
import twitchImage from "@images/other_brands/TwitchGlitchWhite.png";

interface Props {
	image: string;
	name: string;
	role: string;
	twitch?: boolean | false;
	youtube?: boolean | false;
	twitchUrl?: string;
	youtubeUrl?: string;
}

const { image: imageURL, name, role, twitch, youtube, twitchUrl, youtubeUrl } = Astro.props;
const imagePath = `/src${imageURL}`

const images = import.meta.glob<{ default: ImageMetadata }>('src/images/players/*.{jpeg,jpg}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/images/players/*.{jpeg,jpg}"`);
---

<div class="w-350 h-450 relative">
	<div class=`bg-gray-200 bg-cover w-350 h-360 flex flex-col card-noclip`>
		<Image class="card-noclip h-full" src={images[imagePath]()} alt={name} height="360" width="360" ></Image>
	</div>
	<div class="bg-gray-300 w-350 h-125 card-clip flex flex-col absolute top-320 p-3.5 pr-5">
		<div class="flex">
			<span class="font-body font-bold text-white text-4xl">{name||"Max Mustermann"}</span>
		</div>
		<div class="flex flex-row pt-3.5 justify-between">
			<div class="">
				<span class="font-body text-primary text-xl">{role||"Player"}</span>
			</div>
			<div class="flex place-self-center">
				{youtube ?
					<div class="pl-2">
						<ImageLink image={youtubeImage} alt="YouTube" url={youtubeUrl} rel="noopener noreferrer external" target="_blank" size="40"></ImageLink>
					</div> :
					""}
				{twitch ?
					<div class="pl-2">
						<ImageLink image={twitchImage} alt="Twitch" url={twitchUrl} rel="noopener noreferrer external" target="_blank" size="40"></ImageLink>
					</div> :
					""}
			</div>
		</div>
	</div>
</div>
