---
import ImageLink from "../../links/ImageLink.astro";
import uniliga from "@images/other_brands/uniliga_wordmark+icon_teal.png"
import type { ImageMetadata } from 'astro';

import {gameColors} from "@data/constants";

const { game, league, team } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('src/images/teams/*.{jpeg,jpg,png,gif}')
if (!images[`/src/images/teams/${team}_text.png`]) throw new Error(`"src/images/teams/${team}_text.png" does not exist in glob: "src/images/teams/*.{jpeg,jpg,png,gif}"`);
---

<div class="relative bg-gray-300 w-[415px] h-[430px] snap-start">
    <div class=`${gameColors[game]} bg-cover w-[415px] h-[15px] flex flex-col`>
    </div>
    <div class="p-3.5">
        <div class="flex flex-row justify-between">
            <div class="flex place-self-center">
                <ImageLink image={uniliga} alt="Uniliga logo" size=30></ImageLink>
            </div>
            <div class="">
                <span class="font-body font-bold text-2xl">{league||"1"} LIGA</span>
            </div>
        </div>
        <div class="pl-14 pt-14 h-full">
            <ImageLink image={images[`/src/images/teams/${team}_text.png`]()} size=240 alt=`DG ${team}` url=`/unsere_teams/${team}`></ImageLink>
        </div>
    </div>
</div>